.inicio_jum {
  background-image: url('https://res.cloudinary.com/dupegtamn/image/upload/c_scale,h_900/v1607624578/geocol/background-inicio_odubih.jpg');
}

.panel1 {
  background-color: #351B0F;
}

.panel2 {
  background-color: #508BCD;
}
